.dialect-picker {
  &__dialect {
    .inline-block();
    width: 33%;

    a {
      padding: 0.5em 0;
      display: block;
    }
  }

  &--list .dialect-picker__dialect {
    display: block;
  }

  &__status {
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.5em;
  }
}

.schemable({
  .dialect-picker {
    &__dialect--active a {
      color: @solarized-cyan;
    }

    &__status {
      &--online {
        background: @solarized-green;
      }

      &--offline {
        background: @solarized-red;
      }

      &--unknown {
        background: @base1;
      }
    }
  }

  .qtip .dialect-picker {
    background: @base2;
    padding: @whitespace/2;
    max-height: 200px;
    overflow: auto;
    border: 1px solid @base1;
    white-space: nowrap;

    &__dialect {
      display: block;
      width: 100%;

      a {
        padding: 0;
        text-decoration: none;
        line-height: 1.6;
      }
    }
  }
});