@registry-listing-w: 26em;

.registry-listing {
  padding: 1em 0;
  margin: 0;
  top: @content-top-offset;
  position: fixed;
  margin-left: -1 * @registry-listing-w - 2em;
  width: @registry-listing-w;
  bottom: 0;
  overflow: auto;
  padding-right: 1em;
}

.registry-entry {
  position: relative;
  list-style: none;
  padding: 0.5em 0;
  cursor: pointer;

  &__rating {
    position: absolute;
    right: 0;
  }

  &__title {
    margin-top: 0;
  }
}

.schemable({
  .registry-listing {
    // border-right: 3px solid @base2;
  }

  .registry-entry:hover, .registry-entry--active {
    background: @base2;
  }
});

.body--with-registry {
  .root__content {
    margin-left: @registry-listing-w;
    padding-left: 2em;
  }
}