.splash {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 10;
  font-size: 16px;
  line-height: 1;

  font-family: Monaco, monospace, "Ubuntu Mono";

  text-align: center;
  margin-top: -8em;

  color: #657b83;

  opacity: 1;
  transition: opacity 0.75s ease-in 0s;
}

.splash.splash--hidden {
  opacity: 0;
}

.splash:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #FFF;
  z-index: -1;
}

.splash__logo {
  font-size: 3em;
  margin: 0;
}

.splash__accent {
  color: #2aa198;
}

.splash__loading-dots {
  font-size: 1.5em;
  margin: 1.5em auto;
}

.splash__loading-dots span {
  box-shadow: inset 0 0 1px rgba(0,0,0,0.75);
  display: inline-block;
  height: 1em;
  width:  1em;

  -webkit-animation:  loading_dots 0.8s linear infinite;
  -moz-animation:     loading_dots 0.8s linear infinite;
  -ms-animation:      loading_dots 0.8s linear infinite;
  animation:          loading_dots 0.8s linear infinite;
}

.splash__loading-dots span:nth-child(2) {
  -webkit-animation-delay:  0.2s;
  -moz-animation-delay:     0.2s;
  -ms-animation-delay:      0.2s;
  animation-delay:          0.2s;
}

.splash__loading-dots span:nth-child(1) {
  -webkit-animation-delay:  0.4s;
  -moz-animation-delay:     0.4s;
  -ms-animation-delay:      0.4s;
  animation-delay:          0.4s;
}

@-webkit-keyframes loading_dots {
  0%    { background: transparent; }
  50%   { background: #ddd; }
  100%  { background: transparent; }
}

@-moz-keyframes loading_dots {
  0%    { background: transparent; }
  50%   { background: #ddd; }
  100%  { background: transparent; }
}

@-ms-keyframes loading_dots {
  0%    { background: transparent; }
  50%   { background: #ddd; }
  100%  { background: transparent; }
}

@keyframes loading_dots {
  0%    { background: transparent; }
  50%   { background: #ddd; }
  100%  { background: transparent; }
}